.technologies-slider-container {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .technologies-slider {
    display: flex;
    animation: slide 140s linear infinite; /* Adjust the duration as needed */
  }
  
  .technologies-slider img {
    width: auto; /* Adjust the width as needed */
    height: 200px;
    margin: 0 10px; /* Adjust the margin as needed */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-700%);
    }
    200% {
      transform: translateX(100%);
    }
  }
  
