.resume-screen-title{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    font-family: 'Prime Mono Round', monospace;
    color: #615D6C;
  }
  
  .resume-screen {
    background-color: #89bbfe;
    width: 100%;
    height: auto;
    padding-left: 40px;
  }
  
  .resume-container {
    display: flex;
    justify-content: space-between;
  }
  
  