.resume-right-card-container {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #ffff;
    font-family: 'Roboto', monospace;
  }
  
  .resume-right-card {
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
  
  .resume-right-card .front-content {
    display: flex;
    flex-direction: column; /* To stack .front-content and .content vertically */
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .resume-right-card .front-content p {
    font-size: 50px;
    font-weight: 700;
    opacity: 1;
    background: #ed9b40;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .resume-right-card .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ed9b40;
    color: #e8e8e8;
    border-radius: 5px;
    transform: translateX(96%);
    padding: 20px; /* Add padding to create some space between the edges and content */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    line-break: auto;
  }
  
  .resume-right-card .content h2,
  .resume-right-card .content h3,
  .resume-right-card .content h4 {
    padding: 0;
  }
  
  .resume-right-card .content h2 {
    font-size: 24px;
    font-weight: 700;
  }
  
  .resume-right-card .content h3 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }
  
  .resume-right-card .content h4 {
    font-size: 16px;
    font-weight: 500;
  }

  .resume-right-card .content p {
    padding-left: 30px;
    font-weight: 400;

  }
  
  .resume-right-card:hover .content {
    transform: translateY(0);
  }
  
  .resume-right-card:hover .front-content {
    transform: translateX(30%);
  }
  
  .resume-right-card:hover .front-content p {
    opacity: 0;
  }
  
  